---
http_interactions:
- request:
    method: post
    uri: https://api.funtranslations.com/translate/shakespeare
    body:
      encoding: UTF-8
      string: '{"text":"So rare that it\nis still said to\nbe a mirage by\fmany experts.
        Only\na few people have\nseen it worldwide."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Status:
      - 'true'
      X-Ratelimit-Limit:
      - 10 per hour
      X-Ratelimit-Remaining:
      - '8'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "success": {
                "total": 1
            },
            "contents": {
                "translated": "So rare yond 't is still did doth sayeth to beest a mirage by many experts. Only a few people hath't seen 't worldwide.",
                "text": "So rare that it\nis still said to\nbe a mirage by\fmany experts. Only\na few people have\nseen it worldwide.",
                "translation": "shakespeare"
            }
        }
  recorded_at: Wed, 05 Jun 2024 13:36:25 GMT
- request:
    method: post
    uri: https://api.funtranslations.com/translate/yoda
    body:
      encoding: UTF-8
      string: '{"text":"So rare that it\nis still said to\nbe a mirage by\fmany experts.
        Only\na few people have\nseen it worldwide."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Status:
      - 'true'
      X-Ratelimit-Limit:
      - 10 per hour
      X-Ratelimit-Remaining:
      - '7'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "success": {
                "total": 1
            },
            "contents": {
                "translated": "To be a mirage by many experts,  so rare that it is still said.Only a few people have seen it worldwide.",
                "text": "So rare that it\nis still said to\nbe a mirage by\fmany experts. Only\na few people have\nseen it worldwide.",
                "translation": "yoda"
            }
        }
  recorded_at: Wed, 05 Jun 2024 13:36:26 GMT
recorded_with: VCR 6.2.0
